# Auto detect text files and perform LF normalization
* text=auto
*.bundle filter=lfs diff=lfs merge=lfs -text
/Assets/Firebase/Plugins/x86_64/  filter=lfs diff=lfs merge=lfs -text
/Assets/Firebase/Plugins/iOS/  filter=lfs diff=lfs merge=lfs -text
/Assets/Firebase/Plugins/tvOS/  filter=lfs diff=lfs merge=lfs -text
